.searchbar-div {
    position: relative;
  }

.search-icon {
    display: flex;
    align-items: center;
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
  }

.search-input {
    text-indent: 1.5rem;
    background-color: #202327;
    border-color: #202327;
}

.banner-div {
    position: relative;
  }
  
  .banner-label {
    position: absolute;
    bottom: 0;
    left: 1.25rem;
    color: white;
  }
  
  .suggested-icon {
    height: 80px;
    width: 80px;
    object-fit: cover;
  }

  .fa-gear {
    color: #2a9fd6;
  }

  .follow-icon {
    height: 48px;
    width: 48px;
  }